$bg-color: #0f0f0f;
$card-bg: #ffffff;
$text-dark: #000000;
$border-color: #dcdcdc;

.create-user {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;

  .card {
    background: $card-bg;
    padding: 40px;
    width: 420px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);

    h1 {
      text-align: center;
      margin-bottom: 30px;
      color: $text-dark;
      font-size: 24px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .row {
        display: flex;
        gap: 10px;
      }

      input {
        width: 100%;
        padding: 12px;
        border: 1px solid $border-color;
        border-radius: 6px;
        font-size: 14px;
        outline: none;

        &:focus {
          border-color: #000;
        }
      }

      button {
        margin-top: 10px;
        padding: 12px;
        background: #000;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: #333;
        }
      }
    }
  }
}
