.users{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .button-add{
        width: 100%;
        padding: 20px;
       position: sticky;
        top: 0;
        left: 0;

        button{
            width: 100px;
            height: 100px;
            border: none;
            border-radius: 20px;
            font-size: 1rem;
              font-family: "BBH Bartle", sans-serif;
              font-weight: 400;
              cursor: pointer;
             
        }
    }

    .container-user{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
      

        &:nth-child(2n +1){
            flex-direction: row-reverse;
        }

        .left{
        
            
            img{
              
                width: 300px;
                height: 300px;
              
                object-fit: cover top;
            }
        }

        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 500px;

            h1{
                  font-family: "BBH Bartle", sans-serif;
                  font-weight: 400;
                  font-size: 3rem;
            }

            h2{
                font-size: 2rem;
            }

            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 10px;
              
                font-size: 1.5rem;
                font-family: sans-serif;
                text-transform: capitalize;

                li{
                      letter-spacing: -2px;
                      font-weight: 100;
                }
            }

            .button{
                display: flex;
                gap: 10px;

                button{
                    cursor: pointer;
                }
            }
            
        }

       
       
    }
}